.container-fluid{
    width: 1200px;
    zoom: 90%;
}
.container-fluid.form{
    width: 900px;
    zoom: 90%;
}
/* left */
.barLeft{
    float: left;
    width: 250px;
    height: 100%;
    overflow: scroll;
    /* border: 2px solid black; */
    background-color: lightskyblue;
}
.icon {
    width: 249px;
    height: 153px;
    /* border: 1px solid black; */
    background: lightskyblue;
    border-top: none;
}
.menu {border: 1px solid black;width: 250px;padding: 10px;background-color: #a29bfe;font-family: -webkit-body;border-width: 0;}
.menu a{
    color: black;
    font-size: large;
    margin-left: 30px;
    cursor: pointer;
}
.selected{
    border-color: #758DAE #758DAE #758DAE #758DAE;
    background-color: white;
}

/* center */
.barCenter {
    float: left;
    margin-top: -2px;
    margin-right: -96px;
}
.barCenter .nameAttack{
    width: 600px;
    height: 157px;
    /* border: 2px solid black; */
    background-color: lightskyblue;
    /* position: relative; */
    /* bottom: 61px; */
}
.barCenter .nameAttack p{
    color: black;
    font-size: 22px;
    /* margin: 0px 200px 0px; */
    text-align: center;
    font-weight: bolder;
    /* font-family: monospace; */
    padding-top: 50px;
}
.barCenter .contentAttack{
    width: 520px;
    height: 500px;
    /* border-top: 1px solid black; */
    background-color: white;
    /* border-left: none; */
    /* border-bottom: none; */
}
.barCenter .contentAttack .viewSourceAttack {
    margin-top: 170px;
    margin-left: 510px;
    margin-right: 100px;
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
    border-radius: 60%;
    color: black;
    background: #a29bfe;
}
 .headerForm{
    background-color: gold;
    /* border: 3px solid black; */
    margin: 36px -7px 37px 11px;
}
 .headerForm p{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.barCenter .contentAttack .formAttack .contentForm{
    background-color: white;
    /* border: 3px solid black; */
    /* padding: 50px; */
    /* padding-left: 16px; */
    /* margin: 20px; */
    margin-top: 61px;
    margin-bottom: 101px;
    margin-left: 29px;
    border-top: none;
}
/* .contentForm p{
    color:red;
    overflow: hidden;
    padding-top: -28px;
    /* margin-bottom: -11px; */
    /* margin-top: -37px; */
/* }  */
.contentForm p span{
    font-weight: 700;
    color:black;
    margin-right: 10px;
}
.form-inline .form-control {
    width: 312px;
}
/* right */
.barRight{
    float: right;
    width: 320px;
    height: auto;
    /* border: 1px solid black; */
    background-color: lightskyblue;
}
.barRight .title{
    margin-bottom: 30px;
    margin-top: 20px;
}
.barRight .title p{
    padding:10px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.barRight .content{
    height: 627px;
    margin-top: 20px;
    /* border: 1px solid black; */
    overflow: scroll;
    /* border-top: 3px solid; */
    position: relative;
}
.barRight .content .guide{
    /* margin: 10px; */
    /* border: 1px solid black; */
    background-color: #a29bfe;
    margin-bottom: 10px;
    
;
    margin-left: 1px;
}
.barRight .content .guide .symbol{
    width: 50px;
    margin-right: 258px;
    padding: 5px 0px;
    text-align: center;
    /* border: 1px solid black; */
}
.barRight .content .guide .number{
    width: 0.7em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 80%;
}
.barRight .content .guide .document{
    /* padding: 5px 0px; */
}
.barRight .content .guide .help{
    margin-left: 271px;
    /* margin-bottom: 12px; */
    padding: 8px;
    /* border: 1px solid black; */
    text-align: center;
    border-radius: 60%;
    color: black;
    background: white;
    padding-right: 15px;
    padding-left: 15px;
}
.barRight .content .guide .help:hover{
    cursor: help;
}

.popover.left{
    width: 270px;
    height:250px;
    overflow: scroll;
    /* padding-left: 20px; */
    margin-left: 6px;
}
ul.dropdown-menu {
    padding-right: 0px;
    /* background: #a29bfe; */
    /* background: #a29bfe; */
    border: none;
    margin-top: 0px;
    min-width: 0px;
}
.form-auth {
    margin-top: 45px;
    margin-left: 2px;
}
.register, .login{
    margin-top: 10px;
    text-align: center;
}
.mark{
    background-color: #a29bfe;
}
a.view-source {
    padding: 10px;
    border: 1px solid black;
    border-radius: 45%;
    background: #a29bfe;
    color: black;
    margin-left: 415px;
}
.iframe{
    width: 603px;
    height: 626px;
    border: none;
}
.iframe .barCenter{
    zoom: 90%;
}
.logout{
    position: relative;
    bottom: 44px;
    margin-left: 271px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}
button#search {
    position: relative;
    bottom: 48px;
    left: 325px;
}
button.btn.btn-primary.auth {
    position: relative;
    left: 42%;
}
.guide {
    display: none;
}
a{
    cursor: pointer;
}
.code p.name-code {
    background: slategray;
    margin: 10px;
    /* margin-right: 459px; */
    padding: 5px 0px;
    text-align: center;
    width: 120px;
    text-align: c;
    margin-top: -7px;
    text-decoration: underline;
    /* border-radius: 33%; */
    color: black;
}
textarea.file {
    position: relative;
    top: 31px;
}
.code textarea.text-code {
    width: 505px;
    height: 482px;
    margin-top: -141px;
    margin-left: 10px;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    tab-size: 4;
}
.code textarea:focus{
    outline: none;
}


.code button.deploy {
    background: #a29bfe;
    position: relative;
    float: right;
    bottom: 140px;
    border: none;
    right: 38px;
    padding: 5px;
}
.code a.back {
    position: relative;
    float: right;
    bottom: 53px;
    /* background: center; */
    padding: 0px;
    /* margin: 10px; */
}
.red{
    color:red;
}
.fail {
    float: left;
    position: relative;
    left: 140px;
    bottom: 75px;
    color: red;
}
.href{
    color: blue;
    text-decoration: underline;
    font-style: italic;
}
.request,.blue{
    color: blue;
    word-wrap: break-word;
}

.code{
    margin: 10px;
    white-space: pre-line;
}

span.emphasize{
    font-weight: bolder;
}
span.file,.function,.example,.click{
    color: #ecf0f1;
    text-transform: uppercase;
    /* text-decoration: dashed; */
}
span,.name,.note,.click{
    color:red;
}
.browser {
    font-family: "Helvetica Neue", "Helvetiva", "Arial";
    border-radius: 5px;
    border-top: 1px solid #eee;
    margin: 25px 0px;
    margin-bottom: 70px;
    margin-left: 8px;
    margin-right: -7px;
}
.browser .nav {
    background: #dddddd;
    height: 40px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.browser .nav .buttons {
    white-space: nowrap;
    width: 80px;
    padding: 12px 10px 15px;
    position: absolute;
    left: 0;
    top: 0;
}
.browser .nav .buttons .button {
    width: 13px;
    height: 13px;
    border-radius: 10px;
    margin-right: 8px;
    display: block;
    float: left;
}
.browser .nav .buttons .red {
    background: #ff5555;
    border: 1px solid #dd2222;
}
.browser .nav .buttons .orange {
    background: #ffa500;
    border: 1px solid #dd9500;
}
.browser .nav .buttons .green {
    background: #55ff55;
    border: 1px solid #22dd22;
    margin-right: 0;
}
.browser .nav .url {
    white-space: nowrap;
    width: 100%;
    margin-left: 80px;
    padding: 3px;
    overflow: hidden;
}
.address {
    background: white;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 100%;

}
.load-icon {
    position: absolute;
    background: url(data:image/gif;base64,R0lGODlhEAAQAPYAAOfn5xhFjMPL15CiwGWBrkttok5vo3GLs5urxcvR2p2txjRbmDhemT5inENnn0psoW2Isa%2B7zi5WlXSNtNfa39nc4LXA0YecvFh3p2SArbK9z8HJ1kZpoClTk4mdvaGwyGJ%2FrHyTt8%2FU3ISZuyJNkGyGsJanw2qFr6u4zFBwpCBLj6e1ypGkwSpTkxxIjdTX3t3f4nmRtoOZu9%2Fh44GXuqCvx%2BPk5eXl5rO%2B0LvF0%2BHi5MXM2KWzytvd4cLJ1tHW3czR2r%2FI1bnD0rC7zs3T28fO2N3f4snP2XqRtqm3y6i1ylV1p1p4qGB9q2eDrk1vo0hqoLfB0XePtUBkndXZ3zpfmoufvl99qzthmzBXlpmqxFZ1pyZQkoabvGiDrkJlnrrD0r3G1NPX3q26zX6UuI6hv5ipw117qoyfvlRzplJypTJZl56txiROkSBLj6OyyRpGjJWnwzZcmShRkkRnn3aOtTxhmx5JjnKLszFZl1x6qW%2BJsn%2BWuQAAAAAAAAAAACH%2FC05FVFNDQVBFMi4wAwEAAAAh%2FhpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh%2BQQJCgAAACwAAAAAEAAQAAAHjYAAgoOEhYUbIykthoUIHCQqLoI2OjeFCgsdJSsvgjcwPTaDAgYSHoY2FBSWAAMLE4wAPT89ggQMEbEzQD%2BCBQ0UsQA7RYIGDhWxN0E%2BggcPFrEUQjuCCAYXsT5DRIIJEBgfhjsrFkaDERkgJhswMwk4CDzdhBohJwcxNB4sPAmMIlCwkOGhRo5gwhIGAgAh%2BQQJCgAAACwAAAAAEAAQAAAHjIAAgoOEhYU7A1dYDFtdG4YAPBhVC1ktXCRfJoVKT1NIERRUSl4qXIRHBFCbhTKFCgYjkII3g0hLUbMAOjaCBEw9ukZGgidNxLMUFYIXTkGzOmLLAEkQCLNUQMEAPxdSGoYvAkS9gjkyNEkJOjovRWAb04NBJlYsWh9KQ2FUkFQ5SWqsEJIAhq6DAAIBACH5BAkKAAAALAAAAAAQABAAAAeJgACCg4SFhQkKE2kGXiwChgBDB0sGDw4NDGpshTheZ2hRFRVDUmsMCIMiZE48hmgtUBuCYxBmkAAQbV2CLBM%2Bt0puaoIySDC3VC4tgh40M7eFNRdH0IRgZUO3NjqDFB9mv4U6Pc%2BDRzUfQVQ3NzAULxU2hUBDKENCQTtAL9yGRgkbcvggEq9atUAAIfkECQoAAAAsAAAAABAAEAAAB4%2BAAIKDhIWFPygeEE4hbEeGADkXBycZZ1tqTkqFQSNIbBtGPUJdD088g1QmMjiGZl9MO4I5ViiQAEgMA4JKLAm3EWtXgmxmOrcUElWCb2zHkFQdcoIWPGK3Sm1LgkcoPrdOKiOCRmA4IpBwDUGDL2A5IjCCN%2FQAcYUURQIJIlQ9MzZu6aAgRgwFGAFvKRwUCAAh%2BQQJCgAAACwAAAAAEAAQAAAHjIAAgoOEhYUUYW9lHiYRP4YACStxZRc0SBMyFoVEPAoWQDMzAgolEBqDRjg8O4ZKIBNAgkBjG5AAZVtsgj44VLdCanWCYUI3txUPS7xBx5AVDgazAjC3Q3ZeghUJv5B1cgOCNmI%2F1YUeWSkCgzNUFDODKydzCwqFNkYwOoIubnQIt244MzDC1q2DggIBACH5BAkKAAAALAAAAAAQABAAAAeJgACCg4SFhTBAOSgrEUEUhgBUQThjSh8IcQo%2BhRUbYEdUNjoiGlZWQYM2QD4vhkI0ZWKCPQmtkG9SEYJURDOQAD4HaLuyv0ZeB4IVj8ZNJ4IwRje%2FQkxkgjYz05BdamyDN9uFJg9OR4YEK1RUYzFTT0qGdnduXC1Zchg8kEEjaQsMzpTZ8avgoEAAIfkECQoAAAAsAAAAABAAEAAAB4iAAIKDhIWFNz0%2FOz47IjCGADpURAkCQUI4USKFNhUvFTMANxU7KElAhDA9OoZHH0oVgjczrJBRZkGyNpCCRCw8vIUzHmXBhDM0HoIGLsCQAjEmgjIqXrxaBxGCGw5cF4Y8TnybglprLXhjFBUWVnpeOIUIT3lydg4PantDz2UZDwYOIEhgzFggACH5BAkKAAAALAAAAAAQABAAAAeLgACCg4SFhjc6RhUVRjaGgzYzRhRiREQ9hSaGOhRFOxSDQQ0uj1RBPjOCIypOjwAJFkSCSyQrrhRDOYILXFSuNkpjggwtvo86H7YAZ1korkRaEYJlC3WuESxBggJLWHGGFhcIxgBvUHQyUT1GQWwhFxuFKyBPakxNXgceYY9HCDEZTlxA8cOVwUGBAAA7AAAAAAAAAAAA) no-repeat;
    right: 10px;
    top: 12px;
    width: 16px;
    height: 16px;
    display: none;
}
form#login,form#register {
    margin-right: 10px;
    margin-left: 35px;
}



.alert.alert-danger.alert-login {
    padding: 10px;
    margin-left: 22px;
}
.form-auth.SqlInjection {
    position: relative;
    bottom: 50px;
}

.headerForm.SqlInjection {
    position: relative;
    bottom: 35px;
}
textarea.showSql {
    margin-left: 40px;
    width: 89%;
    padding-top: 20px;
    padding-left: 31px;
}

.span{
    color:red;
}
pre#text-code {
    position: relative;
    left: 10px;
    bottom: 10px;
}
pre.code {background-color: #a29bfe;/* position: relative; *//* bottom: 15px; */border: none;padding-bottom: 0px;padding-top: 0px;padding-bottom: -60px;}
img.social {
    padding: 10px;
    width: 100px;
    margin-left: 200px;
}
img.icon-social {
    padding: 10px;
    width: 59px;
    display: inline;
}

.nav-social {
    position: relative;
    bottom: 40px;
    left: 10px;
    background-color: cornflowerblue;
}
h3.name-social {
    position: absolute;
    bottom: 5px;
    left: 56px;
    color: white;
}
.success{
    color:#2ecc71;
    float: left;
    position: relative;
    left: 140px;
    bottom: 35px;
}
.dropdown {
    margin-left: 80%;
}
span.caret {
    color: white;
}

.dropdown-custom {
    padding: 7px 18px;
    margin-top: 60px ;
}
.social .nav-social {
    top: 0px;
}
form#info {
    margin-left: 20px;
}
label#password-error {
    color: #a94442;
    font-weight: 400;
}
.error{
    border-color: red;
}
.disabled{
    background-color: #265a88;
    background-image: none;
}
button.btn.btn-light.back {
    left: 220px;
    position: relative;
    height: 37px;
}
textarea.robots {
    border: none;
    width: 100%;
    height: 420px;
    background: none;
}